@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Arcipta Identity */
  --arcipta-gradient: linear-gradient(
    135deg,
    #ff6b00 0%,
    #ff9e00 100%
  ); /* Placeholder Orange Gradient */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-creato: var(--font-creato);
  --font-azeret: var(--font-azeret);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-azeret), monospace; /* Default body font */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-creato), sans-serif;
}

/* LOCK INITIAL STATE */
[data-animate="how"] > * {
  opacity: 0;
  transform: translateY(40px);
}
